* {
    position: relative;
}

section {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
}
.sektion {
	-webkit-box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 20%);
	position: relative;
    width: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
	background:rgba(240, 240, 240, 0.2);
    border-radius: 6px;
    padding: 5px;
    margin-top: 20px;
    text-align: left;
}
.right {
    float: right;
    margin-right: 10px;
}
.p-1 {padding: .25rem!important;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.btn {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border-color: #21903d;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {background-color: #05b849;color:#ffffff;}

.senden1 {
    box-sizing: border-box;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: medium none rgb(0, 71, 128);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #00CC00
        /* rgb(33, 105, 160)*/
    ;
}

.senden1:hover,
.senden1:focus,
.senden1:active {
    background-color: #00CC00;
    color: #ffffff;
}

whatsapp {
	display:none;
}

contactt {
    display:none;
}
contact {
    position: fixed;
    bottom: 20px;
    width: 150px;
    right: 0px;
    z-index: 100000;
	background-color: #3FBF3F;
	border-radius: 5px;
}

#contact-button-chat {
    float: right;
    height: auto;
    background-color: transparent/* #3FBF3F*/;
   	border-radius: 5px;
	padding:5px;
    width: auto;
    overflow: hidden;
	border: 1px solid rgba(33, 144, 61, 0.9);
    margin: 5px;
	text-align: center;
}
#contact-button-inner {
    float: right;
    height: 50px;
    padding: 5px 10px 10px 10px;
    width: auto;
    overflow: hidden;
    margin-right: 5px;
	text-align: center;
}

.extended {
    display: inline-block;
	color:#ffffff;
	font-weight:150%;

}
top {
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 100000;
}

#top-button-inner {
    float: center;
    height: 40px;
	border-radius: 50%;
    background-color: #3FBF3F;
    padding: 10px 5px 5px 15px;
    width: 40px;
    overflow: hidden;
	margin-left: auto;
    margin-right: auto;
	color:#ffffff;
}
#top-button-inner:hover {

    background-color: #ff6600;

}
.extended1 {
    display: inline-block;
	color:#ffffff;
	font-weight:150%;

}
/* TABLET*/
@media (min-width:490px) and ( max-width: 991px) {
whatsappn {
	display:block;
    position: fixed;
    bottom: 80px;
    width: 150px;
    right: 0px;
    z-index: 100000;
	background-color: #3FBF3F;
	border-radius: 5px;
}
#contact_chat {
    height: 30px;
	/*border-radius: 5px;
    background-color: #3FBF3F;*/
    padding: 5px;
    width: auto;
    overflow: hidden;
	margin-left: auto;
    margin-right: 5px;
	text-align: center;
	
}
contact {
    position: fixed;
    bottom: 12px;
    width: 150px;
    right: 0px;
    z-index: 100000;
	background-color: #3FBF3F;
	border-radius: 5px;

}
top {
    position: fixed;
    bottom: 12px;
    width: 100%;
    z-index: 100000;
}
}

/* HAENDI */
@media (max-width: 489px) {
whatsapp {
	display:block;
    position: fixed;
    bottom: 60px;
    width: auto;
    right: 5px;
    z-index: 100000;
}
contactt {
    display:block;
	position: fixed;
    bottom: 10px;
    width: auto;
    right: 5px;
    z-index: 100000;
}
top {
    position: fixed;
    bottom: 10px;
    width: 100%;
    z-index: 100000;
}
contact {
  display:none;
}
.con {
	display:none;
}
whatsappn {
	display:none;
}
}

/* FORMULAR */

.form{box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 0px none rgb(225, 225, 225); margin: 0px; padding: 0px;}
.box-form {box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 1px solid rgb(225, 225, 225); margin: 5px 0px; padding: 5px; background: rgb(252, 252, 252);}
.textblock{
         box-sizing: border-box;
         font-style: inherit;
         font-variant: inherit;
         font-weight: inherit;
         font-stretch: inherit;
         font-size: inherit;
         line-height: 1.65em;
         font-family: inherit;
         vertical-align: baseline;
         clear: both;
         border: 0px none rgb(225, 225, 225);
         margin: 10px;
         padding: 0px;}

.textarea{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 80%; line-height: 1.5em; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgba(100, 99, 99, 0.9); width: 494.906px; max-width: 100%; display: block; border-radius: 0px; min-height: 60px; border: 1px solid rgb(145, 145, 145, 0.8) /*rgb(225, 225, 225)*/; margin: 0px; padding-left: 6px; padding-right: 6px; padding-top: 8px; padding-bottom: 8px; background: rgb(252, 252, 252);}
.textarea:hover{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 90%; line-height: 1.5em; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(145, 145, 145, 0.9); width: 494.906px; max-width: 100%; display: block; border-radius: 0px; min-height: 60px; border: 1px solid #333333; margin: 0px; padding-left: 6px; padding-right: 6px; padding-top: 8px; padding-bottom: 8px; background: rgb(252, 252, 252);}
.p-style{box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 0px none rgb(225, 225, 225); margin: 0.85em 0px; padding: 0px;}
.select{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 13px; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(145, 145, 145); width: 220px; max-width: 100%; display: block; border-radius: 2px; border: 1px solid rgb(225, 225, 225); margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 20px; padding-left: 6px; padding-right: 6px; padding-top: 8px; padding-bottom: 8px; background: rgb(252, 252, 252);}
.feldtext{box-sizing: border-box; color: #333333; font-style: inherit; font-weight: 300; font-size: 120%; line-height: inherit; font-family: inherit; vertical-align: baseline; position: relative; border: 0px none rgb(225, 225, 225); margin: 0px; padding: 0px;}
.feld{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 80%; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(145, 145, 145, 0.9) /*#666666*/; width: 494.906px; max-width: 100%; display: block; border-radius: 3px; border: 1px solid rgb(145, 145, 145, 0.8) /*rgb(225, 225, 225)*/; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 10px; padding-left: 2px; padding-right: 2px; padding-top: 10px; padding-bottom: 10px; background: rgb(252, 252, 252);}
.feld:hover{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 90%; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(145, 145, 145, 1) /*#666666*/; width: 494.906px; max-width: 100%; display: block; border-radius: 0px; border: 1px solid #333333; margin-left: 0px; margin-right: 0px; margin-top: 0px; margin-bottom: 10px; padding-left: 2px; padding-right: 2px; padding-top: 10px; padding-bottom: 10px; background: rgb(252, 252, 252);}
.feld-slieder{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 150%; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #999999; width:100%; max-width: 450px; display: block; border-radius: 10px; border: 1px solid #333333 /*rgb(225, 225, 225)*/; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 10px; padding-left: 5px; padding-right: 0px; padding-top: 15px; padding-bottom: 15px; background: rgb(252, 252, 252);}
.senden{box-sizing: border-box; cursor: pointer; -webkit-appearance: none; border-radius: 0px;font-size: 16px; font-weight: bold; color: #ffffff; border: medium none rgb(0, 71, 128); padding-left: 22px; padding-right: 22px; padding-top: 9px; padding-bottom: 9px; background-color:#ff6600/* rgb(33, 105, 160)*/;}
.senden:hover, .senden:focus, .senden:active {background-color: #05b849;color:#ffffff;}
.sendebutton{width:30%;padding:5px;background-color:#ff4400;color:#333333;line-height:1em;box-shadow:none;border:none;font-family:'PT Sans', sans-serif;font-weight:400;font-style:normal;text-transform:uppercase;font-size:14px;text-align:center;letter-spacing:0.05em;}
.sendebutton:hover{background-color:#ff2200;}
.smaltext{box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 11.2px; line-height: inherit; font-family: inherit; vertical-align: baseline; border: 0px none rgb(225, 225, 225); margin: 0px; padding: 0px;}
.hr-form{box-sizing: border-box; clear: both; height: 0px; border-left: 0px solid rgb(225, 51, 0); border-right: 0px solid rgb(221, 221, 221); border-top: 1px solid rgb(221, 221, 221); border-bottom: 0px solid rgb(221, 221, 221); margin-left: 0px; margin-right: 0px; margin-top: 10px; margin-bottom: 10px;}
.buttonload {
	position: relative;
	background: #ff6600;
	border: none;
	outline: none;
	border-radius: 2px;
	padding: 8px 16px;
	cursor: pointer;
}
.buttonload:hover{
	background:#009579;
	}

.buttonload:active {
	background: #007a63;
}
.button__text {
	font: bold 20px 'Quicksand', san-serif;
	color: #ffffff;
	transition: all 0.2s;

}
.button--loading .button__text {
	visibility: hidden;
	opacity: 0;
}
.button--loading::after {
	content: "";
	position: absolute;
	width:25px;
	height:25px;
	background: transparent /*#007a63*/ ;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	border: 2px solid transparent;
	border-top-color:#ffffff;
	border-radius: 50%;
	animation: button-loading-spiner 1s linear /*ease*/ infinite;
	
}
@keyframes button-loading-spiner{
from {
transform: rotate(0turn);
}
to {
transform: rotate(1turn);
}
}
@media (max-width: 489px) {
.feld-slieder{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 120%; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #999999; width:100%; max-width: 450px; display: block; border-radius: 10px; border: 1px solid #333333 /*rgb(225, 225, 225)*/; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 10px; padding-left: 5px; padding-right: 0px; padding-top: 10px; padding-bottom: 10px; background: rgb(252, 252, 252);}
.feld{box-sizing: border-box; -webkit-appearance: none; outline: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 120%; line-height: normal; font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #999999; width:100%; max-width: 450px; display: block; border-radius: 10px; border: 1px solid #333333 /*rgb(225, 225, 225)*/; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 10px; padding-left: 5px; padding-right: 0px; padding-top: 10px; padding-bottom: 10px; background: rgb(252, 252, 252);}
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
	}
