		<html>
		<head>
		<title>Uploadanzeige</title>
<!-- SPLIT -->
		<style>
		table {font-family: Verdana,Arial; font-size: 11px; color: #666666;}
		body {font-family: Verdana,Arial; font-size: 11px; color: #666666;}
		</style>
		</head>
		<body bgcolor="#eeeeee">
		<table border="0" width="100%">
			<tr><td align="center" bgcolor="#ecf8ff">Hochladen der Datei __dateizahl__ in Arbeit</td></tr>
			<tr>
				<td>
					<table border="0" width="100%">
						<tr>
							<td>
								<table border="0" width="__percent__%" bgcolor="red">
	 				   				<tr><td width="100%" style="height: 20px">&nbsp;</td></tr>
								</table>
							</td>
						</tr>
			    		</table>
				</td>
			</tr>
			<tr>
				<td>
					Status: __total__ von __total2__ __variante__bytes gesendet (__speed__ KB/s)<br>
				</td>
			</tr>
			<tr>
				<td>
					Restzeit: __restzeit__
				</td>
			</tr>
			<tr>
				<td>
					Gesamtzeit: __verstrichen__
				</td>
			</tr>
			<tr>
				<td>
					&nbsp;
				</td>
			</tr>
			<tr>
				<td>
					Dateiname: <span title="__dateinamefull__">__dateiname__</span>
				</td>
			</tr>
		</table>
		</body>
		</html>