# This file was updated by Duplicator on 2024-03-31 20:52:23.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
# Die Anweisungen (Zeilen) zwischen «BEGIN WordPress» und «END WordPress» sind
# dynamisch generiert und sollten nur über WordPress-Filter geändert werden.
# Alle Änderungen an den Anweisungen zwischen diesen Markierungen werden überschrieben.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /livuss.ch/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /livuss.ch/index.php [L]
</IfModule>

# END WordPress