vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jun 2019 10:29:25 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|100.html
vti_author:SR|MOBILE-PC\\Juric
vti_modifiedby:SR|MOBILE-PC\\Juric
vti_timecreated:TR|11 Jun 2019 18:32:53 -0000
vti_syncwith_507.hosttech.eu\:21/httpdocs:TW|20 Jun 2019 10:29:25 -0000
vti_syncofs_507.hosttech.eu\:21/httpdocs:TW|20 Jun 2019 10:29:00 -0000
vti_nexttolasttimemodified:TW|16 Jun 2019 10:38:00 -0000
vti_cacheddtm:TX|20 Jun 2019 10:29:25 -0000
vti_filesize:IR|7235
vti_cachedlinkinfo:VX|S|../images/arrow-dg.png S|../images/remove.png S|../images/kat-1.jpg
vti_cachedsvcrellinks:VX|NSUS|images/arrow-dg.png NSUS|images/remove.png FSUS|images/kat-1.jpg
