vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|23 Feb 2019 13:46:58 -0000
vti_author:SR|MOBILE-PC\\Juric
vti_modifiedby:SR|MOBILE-PC\\Juric
vti_nexttolasttimemodified:TW|23 Feb 2019 13:46:58 -0000
vti_timecreated:TR|28 Feb 2019 11:06:25 -0000
vti_cacheddtm:TX|28 Feb 2019 11:06:25 -0000
vti_filesize:IR|234
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
vti_syncwith_localhost\\e\:\\mycom\\livus\\remet.ch/e\:/mycom/livus/remet.ch:TW|23 Feb 2019 13:46:58 -0000
vti_syncwith_507.hosttech.eu\:21/httpdocs:TW|28 Feb 2019 11:06:25 -0000
vti_syncofs_507.hosttech.eu\:21/httpdocs:TW|31 Mar 2019 10:15:00 -0000
